/* ===== SOBRE MI ===== */
.sobre-mi {
  padding: 100px 0;
}
.sobre-mi-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}
.sobre-mi-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sobre-mi-imagen img {
  width: 50%;
  max-width: 380px;
  border-radius: 15px;
  object-fit: cover;
  aspect-ratio: 1 1.2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(138, 180, 248, 0.2);
} /* ===== Botones de acción flotantes (FAB) ===== */
.fab {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  z-index: 100;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out; /* Centrado de ícono con Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.fab:hover {
  transform: translateY(-3px);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}
.whatsapp {
  bottom: 40px;
  background-color: #25d366;
}
.gmail {
  bottom: 110px;
  background-color: #d14836;
} /* Estilos personalizados para la sección de habilidades */
#habilidades .habilidad-icon {
  width: 50px; /* Ancho de las imágenes */
  height: auto; /* Altura automática para mantener la proporción */
  margin: 10px; /* Margen alrededor de las imágenes */
  transition: transform 0.3s ease; /* Transición suave para el efecto de desplazamiento */
}
#habilidades .habilidad-icon:hover {
  transform: scale(
    1.1
  ); /* Efecto de agrandamiento al pasar el ratón por encima */
} /* ===== MODO OSCURO TIPO NOTION ===== */
body {
  background-color: #1f1f1f;
  color: #f5f5f5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5 {
  color: #e5e5e5;
}
a {
  color: #8ab4f8;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
.bg-light {
  background-color: #2b2b2b !important;
  color: #fff;
}
.navbar-dark.bg-dark {
  background-color: #252525 !important;
}
.card {
  background-color: #2b2b2b;
  border: 1px solid #3a3a3a;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #fff;
}
footer {
  background-color: #181818;
  color: #aaa;
}
h3.card-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  border-bottom: 2px solid #8ab4f8;
  display: inline-block;
  padding-bottom: 5px;
}

.list-group-item {
  background-color: #2b2b2b;
  color: #ddd;
  border: none;
  border-bottom: 1px solid #3a3a3a;
  font-size: 0.95rem;
  padding: 12px 15px;
}

.list-group-item strong {
  color: #fff;
}
.navbar-dark.bg-dark {
  background-color: rgba(37, 37, 37, 0.8) !important;
  -webkit-backdrop-filter: blur(
    10px
  ); /* compatibilidad para navegadores WebKit */
  backdrop-filter: blur(10px);
}
