/* ===== SOBRE MI ===== */
.sobre-mi {
  padding: 100px 0;
}

.sobre-mi-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.sobre-mi-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre-mi-imagen img {
  width: 50%;
  max-width: 380px;
  border-radius: 15px;
  object-fit: cover;
  aspect-ratio: 1 1.2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

/*    ===== Botones de acción flotantes (FAB)  =====  */
.fab {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  z-index: 100;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  /* Centrado de ícono con Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.fab:hover {
  transform: translateY(-3px);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

.whatsapp {
  bottom: 40px;
  background-color: #25d366;
}

.gmail {
  bottom: 110px;
  background-color: #d14836;
}
/* Estilos personalizados para la sección de habilidades */
#habilidades .habilidad-icon {
  width: 50px; /* Ancho de las imágenes */
  height: auto; /* Altura automática para mantener la proporción */
  margin: 10px; /* Margen alrededor de las imágenes */
  transition: transform 0.3s ease; /* Transición suave para el efecto de desplazamiento */
}
#habilidades .habilidad-icon:hover {
  transform: scale(
    1.1
  ); /* Efecto de agrandamiento al pasar el ratón por encima */
}
